.venv
.venv312



*.pyc
__pycache__/

instance/

.pytest_cache/
.coverage
htmlcov/

flaskr/.env


dist/
build/
*.egg-info/
.env
.env.local
.env.production
!.env.example
!.env.local.example
!.env.production.example
